
<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>

        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Order Details</th>
                    <th class="px-4 py-2 text-left">Name</th>
                    <th class="px-4 py-2 text-left">Phone</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Order Status</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>

                </tr>
            </thead>
                <!-- We need to update the table dynamically using sockets -->
            <tbody id="orderTableBody">

            </tbody>
        </table>

    </div>
</section>