@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
     font-family: 'Lato' ,'sans-serif';
     -webkit-font-smoothing:'antiliased';
     color:$dark;
}

nav li a {
    transition: $smooth;
    &:hover{
        color:$primary-hover;
    }
}

section .hero {
    background: $secondary;
}

.size { 
    background: $secondary;
}
.add-to-cart {
    border: 2px solid $primary;
    border-radius: 20px;
    color:$primary;
    &:hover {
        color:$pure;
        background-color: $primary-hover;
        transition: $smooth;
    }
}
.btn-primary {
    background:$primary;
    transition: $smooth;
    &:hover{
        color:$pure;
        background-color: $primary-hover;
     
    }
}
section.cart {
    .amount {
        color:$primary;
    }
}
.forgot-password { 
    color:$primary;
    transition: $smooth;
    &:hover {
        color:$primary-hover;
    }
}

.noty_theme__mint { 
    border-radius: 50px !important;
    padding-left:8px;
}
a.link {
    color:$primary;
}